In [1]:
import requests
import json

In [2]:
import pandas as pd

In [3]:
%pip install omdbapi

Requirement already satisfied: omdbapi in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (0.7.0)
Requirement already satisfied: requests in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from omdbapi) (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from requests->omdbapi) (3.3.0)
Requirement already satisfied: idna<4,>=2.5 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from requests->omdbapi) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from requests->omdbapi) (2.0.6)
Requirement already satisfied: certifi>=2017.4.17 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from requests->omdbapi) (2023.7.22)

[notice] A new release of pip is available: 23.2.1 -> 23.3.2
[notice] To update, run: pip3 install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [4]:
from omdbapi.movie_search import GetMovie

movie = GetMovie(api_key='2f1cc457')

In [12]:
titles = pd.read_csv('/Users/yuxianggao/Desktop/SI 507/Movies/our_movie_titles.csv')

In [13]:
titles

                     Think Like a Man
0     Kizumonogatari Part 1: Tekketsu
1                              U.F.O.
2                               Ozzie
3                       No Man's Land
4                   The Stone Council
...                               ...
4994                         Ambition
4995     The Dive from Clausen's Pier
4996                     Our Children
4997                       In Harmony
4998                    The Wild Bull

[4999 rows x 1 columns]

In [14]:
info = []
for t in titles:
    try:
        result = movie.get_movie(title=t.strip())
        info.append(result.copy())
    except:
        pass

In [15]:
print(info)

[{'title': 'Think Like a Man', 'year': '2012', 'rated': 'PG-13', 'released': '20 Apr 2012', 'runtime': '122 min', 'genre': 'Comedy, Romance', 'director': 'Tim Story', 'writer': 'Keith Merryman, David A. Newman, Steve Harvey', 'actors': 'Chris Brown, Gabrielle Union, Kevin Hart', 'plot': "Four friends conspire to turn the tables on their women when they discover the ladies have been using Steve Harvey's relationship advice against them.", 'language': 'English', 'country': 'United States', 'awards': '3 wins & 14 nominations', 'poster': 'https://m.media-amazon.com/images/M/MV5BMjExNTc4NDg3OV5BMl5BanBnXkFtZTcwNTMzNDAxNw@@._V1_SX300.jpg', 'ratings': [{'Source': 'Internet Movie Database', 'Value': '6.5/10'}, {'Source': 'Rotten Tomatoes', 'Value': '54%'}, {'Source': 'Metacritic', 'Value': '51/100'}], 'metascore': '51', 'imdbrating': '6.5', 'imdbvotes': '49,627', 'imdbid': 'tt1621045', 'type': 'movie', 'dvd': '04 Feb 2014', 'boxoffice': '$91,547,205', 'production': 'N/A', 'website': 'N/A'}]

In [16]:
filename = 'movies.json'
with open(filename, "w") as json_file:
    json.dump(info, json_file)

In [17]:
# cache
# Try to load data from the cache dictionary
with open("movies.json", "r") as cache_file:
    cache = json.load(cache_file)

In [18]:
print(cache)

[{'title': 'Think Like a Man', 'year': '2012', 'rated': 'PG-13', 'released': '20 Apr 2012', 'runtime': '122 min', 'genre': 'Comedy, Romance', 'director': 'Tim Story', 'writer': 'Keith Merryman, David A. Newman, Steve Harvey', 'actors': 'Chris Brown, Gabrielle Union, Kevin Hart', 'plot': "Four friends conspire to turn the tables on their women when they discover the ladies have been using Steve Harvey's relationship advice against them.", 'language': 'English', 'country': 'United States', 'awards': '3 wins & 14 nominations', 'poster': 'https://m.media-amazon.com/images/M/MV5BMjExNTc4NDg3OV5BMl5BanBnXkFtZTcwNTMzNDAxNw@@._V1_SX300.jpg', 'ratings': [{'Source': 'Internet Movie Database', 'Value': '6.5/10'}, {'Source': 'Rotten Tomatoes', 'Value': '54%'}, {'Source': 'Metacritic', 'Value': '51/100'}], 'metascore': '51', 'imdbrating': '6.5', 'imdbvotes': '49,627', 'imdbid': 'tt1621045', 'type': 'movie', 'dvd': '04 Feb 2014', 'boxoffice': '$91,547,205', 'production': 'N/A', 'website': 'N/A'}]